body{
    background-image: url(../multimedia/fondo-colores.jpg);
}
img{
   width: 50%;
   height: 50%;
}

.imagen1{
    box-shadow: 0px 0px 20px 10px rgb(89, 165, 190);
}

h1{
    box-shadow: 0px 0px 20px 5px rgb(247, 247, 109) inset;
}

audio{
    box-shadow: 0px 0px 20px 7px rgb(73, 65, 59);
    border-radius: 45%;
}